* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  display: flex;
}
.city {
  border: none;
  position: absolute;
  margin: 40px 25px;
  height: 45px;
  width: 200px;
  border-radius: 30px;
  padding: 10px;
}
.card {
  position: relative;
  height: 75vh;
  width: 25vw;
  background: linear-gradient(
    to right bottom,
    rgb(0, 225, 255),
    rgb(117, 226, 238),
    rgb(160, 236, 255),
    rgb(153, 204, 212)
  );
  border-radius: 35px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 20%);
  overflow-y: hidden;
  overflow-x: hidden;
}
.search img {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-left: 260px;
  margin-top: 25px;
  background-color: white;
}
.search {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
}
